body{
    font-family: 'Antic', sans-serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Outfit', sans-serif;
    background-color: lightgray;
}
#topnav{
    overflow: hidden;
}
#topnav a{
    float: left;
    text-decoration: none;
    text-align:center;
    padding: 14px 16px;
    font-size: 15px;
    color:green;
}
u{
    text-decoration-color:darkviolet;
}
.form{
    border: 1px solid;
    box-shadow: 5px 5px gray;
}
input:focus{
    outline-style:groove;
    outline-color:lightskyblue;
    outline-width: 3px;
}
button{
    padding: 5px;
}
.navbar{
    display: table;
    margin:0 auto;
}
ul.navbar li{
    display: inline;
    width: 5px;
    height:5px;
}
li a:hover{
    background-color:lightsalmon;
}